*{
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 30px 30px;
    font-size: 17px;
    padding: 8px;
}
.container{
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px lightgray;
    border-radius: 4px;
}
.main{
    text-align: center;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,
textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
fieldset{
    background-color: #ffffff;
    height: 10%;
    border: 1px solid #cccccc;
}
input[type="submit"]{
    background-color: #4dae4d;
    color: white;
    padding: 12px 20px;
    border: none;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: #4caf84;
}